.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.881);
  left: 0;
  top: 0;
  z-index: 1;
}
.containerImg {
  border: 4px solid white;
  border-radius: 4px;
  max-height: 90vh;
}

.videoContainer {
  max-width: 95%;
}

.closeBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
