*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

@font-face {
  font-family: "Iskra";
  src: url("./assets/fonts/IskraCYR-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: Iskra;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p {
  color: #fff;
  margin-bottom: 10px;
}
h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
